* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page-wide */
body {
  /* height: 100%; */
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
h1, h2, h3, h4, h5, h6 {
  color: #555555;
}
.container {
  position: relative;
  overflow: auto;
}
.inner {
  width: 1300px;
  margin: 0 auto;
}

/* header */
#navHeader {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #311B1E;
  padding: 17px 17px 20px 17px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
#navHeader a {
  color: rgb(136, 136, 136);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
#navHeader a.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #fff;
}
#navHeader .logo img {
  width: 120px;
  transition: 0.4s;
}
#navHeader nav a {
  font-size: 18px;
  margin-right: 30px;
  transition: color 0.2s;
}
#navHeader nav a:hover {
  color: #fff;
}
#navHeader nav a i {
  margin-right: 8px;
}
#navHeader .hamburgerNav {
  display: none;
}
#menu {
  /* display: none; */
  position: fixed;
  top: 0;
  right: -352px;
  height: 100%;
  width: 350px;
  background: #311B1E;
  z-index: 1010;
  /* border: 1px solid yellow; */
  transition: right 0.5s;
}
#menu ul {
  list-style: none;
  padding: 80px 35px 35px 35px;
}
#menu ul li a {
  display: block;
  color: rgb(136, 136, 136);
  text-decoration: none;
  line-height: 62px;
  width: 100%;
  border-bottom: 1px solid rgb(63, 63, 63);
  transition: color 0.3s;
}
#menu ul li:last-child a {
  border-bottom: none;
}
#menu a:hover {
  color: #fff;
}
#menu .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgb(136, 136, 136);
  font-size: 24px;
}

/* banner section */
#banner {
  position: relative;
  background: #111111;
  margin-top: 80px;
  overflow: hidden;
  height: 600px;
  transition: 0.4s;
}
#banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
#banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: videoBGFadeIn 2s;
  animation-fill-mode: forwards;
  animation-delay: 1.1s;
}

@media only screen and (min-width: 1800px) {
  #banner video {
    width: 100%;
  }
}

@keyframes videoBGFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#banner .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  opacity: 0;
  margin-top: -20px;
  animation: bannerTitleFadeIn 1.3s;
  animation-fill-mode: forwards;
  /* animation-delay: 0.3s; */
}

@keyframes bannerTitleFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

#banner .inner h1 {
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 42px;
}
#banner .inner p {
  font-size: 25px;
  line-height: 155%;
  color: rgba(255, 255, 255, 0.5);
}

/* card section */
#cardsSection {
  background-image: linear-gradient(rgb(255, 255, 255, 0.9), rgb(255, 255, 255, 0.9)), url('../../images/bg.jpg'); /* linear-gradient is used to set opacity of background image used. */
  background-attachment: fixed; /* parallax css effect */
  background-size: cover; /* background image is smaller than fullscreen width so 'cover' is required */
}
#cardsSection .inner {
  padding-bottom: 85px;
}
#cardsSection .inner>header {
  margin: 0 auto 70px auto;
  padding-top: 142px;
  text-align: center;
  width: 75%;
}
#cardsSection h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
  color: #555555;
}
#cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.card {
  background-color: #fff;
  padding: 10px;
  width: 30%;
  margin-bottom: 55px;
  box-shadow: 2px 2px 1px 0px rgba(97, 97, 97, 0.1);
}
.card h3 {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 400;
}
.cardContent {
  padding: 70px 45px 75px 45px;
  text-align: center;
}
.cardContent header {
  margin-bottom: 25px;
}
.cardContent h3 {
  text-align: center;
}
.cardContent p {
  font-size: 17px;
}
.cardContent header a {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.cardContent header a i {
  font-size: 88px;
  color: #ce1b28;
}

/* Call to Action */
#cta {
  background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url('../../images/cta01.jpg'); /* linnear-gradient is used to give the red hue */
  background-attachment: fixed; /* parallax css effect */
  background-size: cover; /* background image is smaller than fullscreen width so 'cover' is required */
  background-position: bottom;
}
#cta .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  /* padding-top: 120px; */
}
#cta .inner .content h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
}

/* Testimonials Area */
#testimonialsSection {
  background-image: linear-gradient(rgb(255, 255, 255, 0.9), rgb(255, 255, 255, 0.9)), url('../../images/bg.jpg'); /* linear-gradient is used to set opacity of background image used. */
  background-attachment: fixed; /* parallax css effect */
  background-size: cover; /* background image is smaller than fullscreen width so 'cover' is required */
  background-position: bottom;
  text-align: center;
}
#testimonialsSection .inner {
  padding-bottom: 100px;
}
#testimonialsSection header {
  width: 80%;
  margin: 0 auto;
  padding-top: 150px;
  margin-bottom: 80px;
}
#testimonialsSection header h2 {
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}
#testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonial {
  width: 30%;
  background-color: #fff;
  box-shadow: 2px 2px 1px 0px rgba(97, 97, 97, 0.1);
  margin-bottom: 50px;
}
.testimonial .author .img img {
  border-radius: 50%;
  width: 60px;
}
.testimonial .content {
  padding: 40px;
}
.testimonial .content blockquote {
  border-left: 8px solid rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: left;
  font-style: italic;
}
.testimonial .author {
  display: flex;
  margin-top: 30px;
  height: 60px;
}
.testimonial .author p {
  line-height: 60px;
  font-size: 13px;
  margin-left: 35px;
}

/* footer */
footer {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
}
footer h3,
footer h4 {
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}
footer h3 {
  font-size: 24px;
  margin-bottom: 30px;
}
footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: color 0.5s;
}
footer a:hover {
  color: #ce1b28;
  text-decoration: none;
}
footer ul {
  list-style: none;
}
footer .inner {
  display: grid;
  grid-template-columns: auto 280px 230px;
  grid-column-gap: 80px;
  padding-top: 130px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
footer .about {
  padding-right: 25px;
}
footer .recentPosts ul li {
  line-height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
footer .recentPosts ul li:last-child {
  border-bottom: none;
}
footer .socialMedia ul {
  margin-left: 10px;
}
footer .socialMedia ul li {
  line-height: 50px;
}
footer .socialMedia ul li i {
  color: #fff;
  margin-right: 25px;
}
footer .copyright {
  margin-top: 35px;
  padding-bottom: 150px;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.25);
}
footer .copyright a {
  color: rgba(255, 255, 255, 0.25);
}
footer .copyright a:hover {
  color: #ce1b28;
  text-decoration: none;
}

/* responsive design */
@media only screen and (max-width: 980px) {
  #navHeader .normalNav {
    display: none;
  }
  #navHeader .hamburgerNav {
    display: block;
  }
}
@media only screen and (min-width: 980px) {
  #menu {
    display: none;
  }
}
@media only screen and (max-width: 980px) {
  #banner {
    height: 300px;
  }
  #banner .inner h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  #banner .inner p {
    font-size: 20px;
  }
  #cardsSection h2,
  #cta .inner .content h2,
  #testimonialsSection header h2 {
    font-size: 32px;
    line-height: 40px;
  }
  #cardsSection .inner>header {
    padding-top: 90px;
  }
  #testimonialsSection header {
    padding-top: 90px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1280px) {
  .card {
    width: 47%;
  }
  .testimonial {
    width: 47%;
  }
  footer .inner {
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
  }
  footer .about {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  footer .copyright {
    padding-bottom: 70px;
  }
}
@media only screen and (max-width: 840px) {
  .card {
    width: 100%;
  }
  .testimonial {
    width: 100%;
  }
  #testimonialsSection header {
    padding-top: 50px;
  }
  #testimonialsSection header h2 {
    margin-bottom: 20px;
  }
  #cta .inner .content h2 {
    margin-bottom: 25px;
  }
  #testimonialsSection .inner {
    padding-bottom: 50px;
  }
  footer .inner {
    padding-top: 85px;
  }
  footer .recentPosts,
  footer .socialMedia {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  footer .copyright {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 1360px) {
  .inner {
    width: 90%;
  }
  #banner {
    height: 400px;
  }
  #banner .inner h1 {
    font-size: 55px;
  }
  #banner .inner p {
    font-size: 23px;
  }
  #cta .inner {
    height: 400px;
  }
}